$gray-300: #EBEEF2;
$gray-400: #EEF2FA;
$gray-700: #545D69;
$gray-800: #364A64;
$gray-900: #394452;

$primary: #0B63CE;
$success: #50D2A0;

$orange: #FF8C21;

$border-color: rgba(11, 99, 206, 0.3);

$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
	"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";

$input-btn-border-width: 2px;
$input-btn-line-height: 1.7;
$input-btn-padding-y: .4rem;
$input-btn-padding-x: 1rem;

$border-radius: .313rem;