#trial-registration {
	.punch-line {
		box-sizing: border-box;
		padding: 12em 5em 0 0;
		width: 500px;

		h1 {
			font-size: 2.5em;
			font-weight: 600;
			text-transform: capitalize;
		}

		p {
			font-size: 2em;
			font-weight: 200;
			line-height: 1.3;
		}
	}

	.instance-status {

		.loading-animation-sm {
			font-size: .8em;
			padding: 0;
		}

		span {
			display: inline-block;
			font-size: .8rem;
			margin: 0 4px 0 0;
		}

		ul {
			list-style-type: none;
			padding: 0;
		}
	}

	.form-container {
		background-color: #FFF;
		box-shadow: 0 10px 20px 20px rgba(0, 0, 0, .05);
		box-sizing: border-box;
		margin: 4em auto;
		padding: 3em;
		width: 465px;

		.disclaimer {
			color: $gray-900;
			font-size: 12px;
			font-weight: 300;
			margin: 1em 0 1.5em 0;
		}

		button,
		input,
		select {
			border-color: $gray-400;
			box-sizing: border-box;
			padding: 10px;
			width: 100%;
		}

		label {
			font-weight: 600;
			margin-bottom: 4px;
			margin-left: 10px;
			margin-top: 1em;
			text-transform: capitalize;
		}

		select {
			height: 48px;
		}
	}

	.form-container .disclaimer {
		color: $gray-900;
		font-size: 12px;
		font-weight: 300;
		margin: 1em 0 1.5em 0;
	}

	​ .form-container .success.hide {
		display: none;
	}

	​ .form-container .success.show {
		display: block;
	}
}