.account-add-items {
	background-color: $light;
	margin-left: -$spacing-default;
	margin-right: -$spacing-default;
	overflow: auto;

	.add-items-header {
		background-color: $body-bg;
		margin-bottom: 0;
		padding-bottom: $spacing-md;
		text-align: center;

		.header-back-to {
			float: left;
			margin-left: $spacing-md;

			.lexicon-icon {
				color: $secondary;
			}
		}

		.header-title {
			color: $dark;
			font-weight: $font-weight-bold;
		}
	}

	.add-items-sheet {
		margin-bottom: $spacing-lg;
		margin-top: $spacing-default;

		.button-holder {
			padding-left: 20%;
		}

		.form-group {
			border-bottom: 1px solid $secondary-l3;
			margin-bottom: $spacing-default;
			padding-bottom: $spacing-default;

			.control-label {
				padding-right: $spacing-md;
				text-align: right;
				width: 20%;
			}

			.form-control {
				width: 65%;
			}

			.form-validator-stack {
				margin-left: 20%;
			}
		}
	}
}
