.history-details {
	background: $body-bg;
	border: 1px solid $secondary-l3;
	border-radius: 4px;
	margin: $spacing-default $spacing-default 0 $spacing-default;
	padding-bottom: $spacing-sm;

	.list-group-header {
		border: 0;
	}

	.row {
		padding: $spacing-xxs $spacing-md;

		&.detail-label {
			padding-bottom: $spacing-sm;
		}

		&.detail-title {
			border-top: 1px solid $secondary-l3;
			margin: 0;
			padding: $spacing-md $spacing-xxs;

			.description {
				font-size: $font-size-base;
				font-weight: $font-weight-semi-bold;
			}

			.timestamp {
				color: $secondary;
				font-size: $mid-font-size;
				font-weight: $font-weight-normal;
				text-align: right;
			}
		}

		.col-field {
			font-size: $mid-font-size;
			font-weight: $font-weight-semi-bold;
		}
	}

	.row + .detail-title {
		margin-top: $spacing-sm;
	}

	.row + .list-group-header {
		border-top: 1px solid $secondary-l3;
		margin-top: $spacing-sm;
	}
}
