.account {
	display: flex;

	&.full-view {
		.side-panel {
			flex-basis: 0%;
			max-width: 0%;
		}

		.account-details {
			flex-basis: 100%;
			flex-grow: 1;
			max-width: 100%;
		}
	}
}

.account-details {
	background-color: $light;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.account-header {
	border-bottom: 1px solid $secondary-l3;

	.account-code {
		&:after {
			content: '\00B7';
		}
	}

	.account-name {
		margin-bottom: 0;
	}

	.header-details {
		color: $dark;
		display: flex;
		font-size: $h5-font-size;
		font-weight: $font-weight-semi-bold;
		line-height: 150%;
		list-style: none;
		margin-bottom: 0;
		margin-top: $spacing-md;
		padding-bottom: $spacing-default;
		padding-inline-start: 0;

		li {
			margin-right: $spacing-lg;
			max-width: 11rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.header-icon {
		height: 56px;
		margin-right: $spacing-md;
		width: 56px;
	}

	.header-label {
		color: $secondary;
		font-size: $small-font-size;
		letter-spacing: 0.04rem;
		text-transform: uppercase;
	}
}

.archive-btn {
	margin: $spacing-default;

	svg {
		height: 0.75rem;
		width: 1rem;
	}
}

.details-table {
	background-color: $body-bg;
}

.notes-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.note,
	.notes-section-header {
		border-bottom: 1px solid $secondary-l3;
	}

	.note {
		padding: $spacing-md;

		&:hover {
			background-color: $primary-l3;
		}
	}

	.note-create-date {
		color: $secondary;
		font-size: $h5-font-size;
	}

	.note-header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.note-metadata {
		align-items: center;
		display: flex;
		margin-bottom: $spacing-sm;

		.metadata {
			margin-left: $spacing-xs;
		}
	}

	.notes {
		width: 100%;
	}

	.notes-section-header {
		background-color: $light-l1;
		color: $secondary;
		font-size: $small-font-size;
		font-weight: $font-weight-semi-bold;
		padding: $spacing-xs $spacing-md;
		text-transform: uppercase;

		svg {
			height: 1rem;
			margin-right: $spacing-xs;
			width: 1rem;
		}
	}
}

.secondary-information {
	color: $secondary;
	font-size: $h5-font-size;
}

.side-panel {
	border-left: 1px solid $secondary-l3;
	border-right: 1px solid $secondary-l3;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;

	.nav-underline {
		padding: 0 $spacing-md;
	}

	.panel-collapse,
	.panel-expand {
		svg {
			height: 2rem;
			width: 2rem;
		}
	}

	.panel-collapse.nav-item,
	.panel-expand {
		position: absolute;
		right: 0;
	}

	.panel-collapse {
		.nav-link {
			padding-bottom: $spacing-xs;
			padding-top: $spacing-xs;
		}
	}

	.panel-expand {
		background-color: $body-bg;
		border: 1px solid $secondary-l3;
		border-radius: 100px 0 0 100px;
		box-shadow: 0 2px 4px rgba(39, 40, 51, 0.12);
	}
}

.subscription-details {
	margin: $spacing-default;

	.subscription-tabs {
		margin-bottom: $spacing-sm !important;
	}

	.nav-underline {
		border: 1px solid $secondary-l3;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;

		.nav-link {
			margin: $spacing-sm;
			padding: $spacing-xs;

			&.active {
				background: rgba(39, 40, 51, 0.06);

				&:after {
					background-color: transparent;
				}
			}
		}
	}
}
