#accountDetails {
	.account-field {
		align-items: center;
		display: flex;
		padding-left: $spacing-xs;
		padding-right: $spacing-xs;
		width: 50%;
	}

	.address-controls {
		justify-content: flex-end;
		width: 100%;
	}

	.list-group-text {
		font-size: $font-size-base;
		width: 60%;
	}

	.list-group-title {
		width: 40%;
	}
}
