.account-add-items {
	background-color: $light;
	margin-left: -$spacing-default;
	margin-right: -$spacing-default;
	overflow: auto;

	.add-items-header {
		background-color: $body-bg;
		border-bottom-color: $light-d1;
		margin-bottom: 0;
		padding-bottom: $spacing-md;
		text-align: center;

		.header-back-to {
			float: left;
			margin-left: $spacing-md;

			.lexicon-icon {
				color: $secondary;
			}
		}

		.header-title {
			color: $dark;
			font-weight: $font-weight-bold;
		}
	}

	.add-items-sheet {
		margin-bottom: $spacing-lg;
		margin-top: $spacing-default;

		.button-holder {
			border-top: 1px solid $secondary-l3;
			margin-top: 0;
			padding-left: 20%;
			padding-top: $spacing-default;
		}

		.form-group {
			margin-bottom: $spacing-default;
			padding-bottom: $spacing-default;

			.control-label {
				padding-right: $spacing-md;
				text-align: right;
				width: 20%;
			}

			.form-control {
				width: 65%;
			}

			.form-validator-stack {
				margin-left: 20%;
			}
		}
	}

	.assign-contacts-sheet {
		margin-bottom: $spacing-lg;
		margin-top: $spacing-default;

		.button-row {
			padding-bottom: $spacing-default;
			padding-top: $spacing-default;
		}

		.contact-line-entry {
			.form-control {
				&:focus {
					box-shadow: none;
				}
			}

			.input-group-item {
				&:hover {
					cursor: pointer;
				}

				&.input-focus {
					.input-group-inset-after,
					.input-group-inset-item-after {
						background-color: $primary-l3;
						border-color: $primary-l1;
						color: $dark;
						outline: 0;
					}
				}

				.label {
					letter-spacing: normal;
				}
			}
		}
	}
}
