.history-details {
	.list-group-header {
		border: 0;
	}

	.row {
		padding: $spacing-xxs $spacing-md;

		& + .detail-title {
			margin-top: $spacing-sm;
		}

		& + .list-group-header {
			border-top: 1px solid $secondary-l3;
			margin-top: $spacing-sm;
		}

		&.detail-label {
			padding-bottom: $spacing-sm;
		}

		&.detail-title {
			border-top: 1px solid $secondary-l3;
			margin-left: 0;
			margin-right: 0;
			padding: $spacing-md $spacing-xxs;

			.description {
				font-size: $font-size-base;
				font-weight: $font-weight-semi-bold;
			}

			.timestamp {
				color: $secondary;
				font-size: $mid-font-size;
				font-weight: $font-weight-normal;
				text-align: right;
			}
		}

		&:last-child {
			padding-bottom: $spacing-sm;
		}

		.col-field {
			font-size: $mid-font-size;
			font-weight: $font-weight-semi-bold;
		}
	}

	.sticker {
		margin-right: $spacing-xxs;
	}
}
