.account-details,
.support-information {
	.account-attachment {
		font-size: $font-size-base;
		margin-right: $spacing-md;
	}

	.address-controls {
		justify-content: end;
		padding-left: $spacing-md;
		padding-right: $spacing-md;

		&.editing {
			justify-content: space-between;

			&.list-group-item-flex {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}

	.detail-field {
		align-items: center;
		display: flex;
		padding-left: $spacing-xs;
		padding-right: $spacing-xs;
		width: 100%;
	}

	.list-group {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.list-group-header,
	.list-group-item-flex {
		border-left-width: 0;
		border-right-width: 0;

		&:last-child {
			margin-bottom: -1px;
		}
	}

	.list-group-header {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.account-details,
.support-details {
	.list-group-item-flex {
		flex: 0 0 50%;
		max-width: 50%;

		.list-group-text {
			font-size: $font-size-base;
			width: 60%;
		}

		.list-group-title {
			width: 40%;
		}
	}
}

.instructions {
	.list-group-item-flex {
		width: 100%;

		.list-group-text {
			font-size: $font-size-base;
			width: 80%;
		}

		.list-group-title {
			width: 19%;
		}
	}
}
