body {
	&.open {
		.search-menu {
			padding-left: $product-menu-sidebar-width;
		}

		// Offset nav width to avoid overlap from user personal bar when product menu sidebar is open.

		.search-menu-nav {
			width: calc(100vw - 400px);
		}
	}
}

.autocomplete-dropdown-menu {
	.all-results {
		color: $primary;
	}

	.dropdown-item {
		font-size: $mid-font-size;
		font-weight: $font-weight-semi-bold;
	}
}

.portlet-body {
	margin-top: $header-height;
}

.search-menu {
	background-color: $body-bg;
	border-bottom: 1px solid $secondary-l3;
	left: 0;
	padding-left: 0;
	position: fixed;
	right: 0;
	top: $header-offset;
	transition: padding 0.5s ease;
	z-index: 988;

	.account-search {
		margin: 0 auto;
		max-width: 40.625rem;
		width: 100%;

		.input-group-item {
			flex-wrap: nowrap;
		}

		.search-btn {
			border-bottom-left-radius: initial;
			border-color: $divider;
			border-left-width: 0;
			border-top-left-radius: initial;
		}

		.search-input {
			border-bottom-right-radius: initial;
			border-top-right-radius: initial;
		}
	}

	.company-logo {
		height: $spacing-lg;
		padding-right: $spacing-xs;
		width: $spacing-lg;
	}

	.logo {
		align-items: center;
		display: flex;

		h3 {
			margin: 0;
		}
	}

	// Offset nav with to never overlap with user personal bar

	.search-menu-nav {
		height: $header-height;
		width: calc(100vw - 80px);
	}
}

.user-personal-bar {
	padding: $spacing-xs $spacing-default;
	position: fixed;
	right: 0;
	top: $header-offset;
	z-index: 990;

	.sticker-lg {
		height: $spacing-lg;
		width: $spacing-lg;
	}
}
