.account,
.contact,
.subscription {
	display: flex;

	&.full-view {
		.side-panel {
			flex-basis: 0%;
			max-width: 0%;
		}

		.account-content,
		.contact-content,
		.subscription-content {
			flex-basis: 100%;
			flex-grow: 1;
			max-width: 100%;
		}
	}
}

.account-content,
.contact-content,
.subscription-content {
	background-color: $light;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.account-header,
.contact-header,
.subscription-header,
.team-header {
	border-bottom: 1px solid $secondary-l3;

	.account-code,
	.email-address {
		&:after {
			content: '\00B7';
		}
	}

	.account-name,
	.contact-name {
		margin-bottom: 0;
	}

	.header-details {
		color: $dark;
		display: flex;
		font-size: $h5-font-size;
		font-weight: $font-weight-semi-bold;
		line-height: 150%;
		list-style: none;
		margin-bottom: 0;
		margin-top: $spacing-md;
		padding-bottom: $spacing-default;
		padding-inline-start: 0;

		li {
			margin-right: $spacing-lg;
			max-width: 11rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.header-icon {
		height: 56px;
		margin-right: $spacing-md;
		width: 56px;
	}

	.header-label {
		color: $secondary;
		font-size: $small-font-size;
		letter-spacing: 0.04rem;
		text-transform: uppercase;
	}

	.left-button {
		padding-right: $spacing-sm;
	}
}

.details-table {
	background-color: $body-bg;
	border: 1px solid $secondary-l3;
	border-radius: $border-radius;
	margin: $spacing-default;

	a.taglib-icon {
		color: $secondary;
	}

	.list-group,
	.sheet {
		margin-bottom: 0;
	}

	.main-content-body {
		margin-top: 0;

		.taglib-empty-result-message {
			border: 0;
		}
	}

	.management-bar,
	.nav-underline {
		// See LPS-111197

		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		margin-bottom: 0 !important;

		& + .subnav-tbar-primary {
			margin-bottom: -1.25rem;
			margin-top: 0;
		}

		.nav-link {
			margin: $spacing-sm;
			padding: $spacing-xs;

			&.active {
				background: rgba(39, 40, 51, 0.06);

				&:after {
					background-color: transparent;
				}
			}
		}

		.search-input {
			.input-group-item:focus-within {
				& ~ .input-group-inset-item-after {
					background-color: $primary-l3;
					border-color: $primary-l1;
				}

				.form-control {
					box-shadow: none;
				}
			}
		}
	}

	.panel-title {
		font-size: $h4-font-size;
		padding: $spacing-sm;
	}

	.table-list {
		td,
		th {
			box-shadow: inset 0 0.0625rem $secondary-l3;
		}

		thead:first-child {
			td,
			th {
				box-shadow: none;
			}
		}
	}
}

.inline-edit {
	display: inline-block;

	&.block {
		display: block;
	}

	.editable-field {
		border: 1px solid $primary-l2;
		border-radius: $border-radius;
		display: flex;

		.edit-icon,
		.field {
			padding: $spacing-xs;
		}

		.edit-icon {
			background: $primary-l3;
			border-left: 1px solid $primary-l2;
		}

		.lexicon-icon-pencil {
			height: $spacing-md;
			width: $spacing-md;
		}

		.form-control {
			padding: $spacing-xxs $spacing-xs;
		}
	}

	.external {
		display: flex;

		.btn {
			margin-left: $spacing-md;
		}
	}
}