$body-bg: #fff;

$font-family-sans-serif: 'Source Sans Pro', system-ui, -apple-system,
	blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell,
	'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
	'Segoe UI Symbol';

$small-font-size: 0.75rem;
