@import 'views/account_add_items.scss';
@import 'views/account_history.scss';
@import 'views/details.scss';
@import 'views/provisioning';
@import 'views/side_panel';

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/SourceSansPro-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
}

table {
	th {
		font-size: $h5-font-size;
	}
}

.breadcrumb {
	.active {
		color: $secondary;
		font-weight: $font-weight-normal;
	}
}

.button-row {
	margin-top: $spacing-sm;

	.btn {
		margin-right: $spacing-sm;
	}
}

.empty-state {
	color: $secondary;
	margin: $spacing-default;
	text-align: center;
}

.full-width {
	.management-bar .container-fluid-max-xl {
		max-width: unset;
	}
}

.inline-edit {
	display: inline-block;

	&.block {
		display: block;
	}

	.editable-field {
		border: 1px solid $primary-l2;
		border-radius: $border-radius;
		display: flex;

		.edit-icon,
		.field {
			padding: $spacing-xs;
		}

		.edit-icon {
			background: $primary-l3;
			border-left: 1px solid $primary-l2;
		}

		.lexicon-icon-pencil {
			height: $spacing-md;
			width: $spacing-md;
		}

		.form-control {
			padding: $spacing-xxs $spacing-xs;
		}
	}

	.external {
		display: flex;

		.btn {
			margin-left: $spacing-md;
		}
	}
}

.label {
	letter-spacing: 0.04rem;
}

.nav-underline {
	background-color: $body-bg;
	border-bottom: 1px solid $secondary-l3;

	.nav-link {
		padding-bottom: $spacing-md;
		padding-top: $spacing-md;
	}
}

.secondary-information {
	color: $secondary;
	font-size: $h5-font-size;
}

.semi-bold {
	font-weight: $font-weight-semi-bold;
}
