$header-height: 3rem; // 48px

$spacing-default: 1.5rem; // 24px
$spacing-lg: 2rem; // 32px
$spacing-md: 1rem; // 16px
$spacing-sm: 0.75rem; // 12px
$spacing-xs: 0.5rem; // 8px
$spacing-xxs: 0.25rem; // 4px
