<div style="background-color: #FFF; color: #272833; font-family:Source Sans Pro,system-ui,Segoe UI,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif; font-size: 16px;">
	<div style="background-color: #FFF; padding-top: 10px; text-align: center;">
		<table align="center" cellpadding="0" cellspacing="0" style="max-width: 600px;">
		<tbody>
			<tr>
				<td style="text-align: left;">
					<div style="display: inline-block; padding: 10px 0 0 25px; text-align: left; vertical-align: top;">
						<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div style="height: 19px"> &nbsp; </div>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://analytics.liferay.com/o/osb-faro-web/images/email/ac-chart.png" width="40px" />
								</td>
							</tr>
						</tbody>
						</table>
					</div>

					<div style="display: inline-block; max-width: 500px; padding: 10px 0 0 25px; text-align: left; vertical-align: top;">
						<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<img src="https://analytics.liferay.com/o/osb-faro-web/images/email/ac-title.png" width="150px" />
								</td>
							</tr>
							<tr>
								<td>
									<div style="height: 25px;"> &nbsp; </div>
								</td>
							</tr>
							<tr>
								<td>
									<h3>
										Boas-vindas ao Analytics Cloud!
									</h3>

									<p>
										Você está prestes a melhorar seu serviço aos cliente com insights baseados em dados.
									</p>

									<p>
										Entre utilizando seu nome de usuário e senha já existentes do Liferay.
									</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 10px 0 25px 0;">
									<div style="background-color: #0053F0; border: none; border-radius: 5px; display: inline-block; padding: 5px 15px;">
										<a href="https://analytics.liferay.com" style="background: #0053F0; color: white; font-weight: 600; line-height: 30px; text-decoration: none; text-transform: none;" rel="noopener noreferrer" target="_blank">Entrar</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<hr style="border: 0; border-bottom: 1px solid rgba(255,255,255,0.3); border-top: 1px solid rgba(0,0,0,0.2); height: 0;" />
								</td>
							</tr>
							<tr>
								<td>
									<h3>
										Começando
									</h3>

									<p>
										Prepare-se em três etapas:
									</p>

									<ol style="padding-left: 1em;">
										<li style="padding-bottom: 16px;">
											Conecte suas páginas e ativos do Liferay DXP
										</li>
										<li style="padding-bottom: 16px;">
											Conecte e mapeie os dados do usuário
										</li>
										<li style="padding-bottom: 16px;">
											Convite colegas para colaborar
										</li>
									</ol>
								</td>
							</tr>
							<tr>
								<td style="padding: 10px 0;">
									<div style="color: #6B6C7E; font-size: 12px;">
										Precisa de ajuda? Visite nossa <a href="https://help.liferay.com" rel="noopener noreferrer" target="_blank">Central de Ajuda</a> para obter os guiada detalhados do que fazer e do usuário.
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div style="height: 25px;"> &nbsp; </div>
								</td>
							</tr>
						</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>

	<div style="font-size: 12px; text-align: center;">
		2018 Liferay Inc. 1400 Montefino Ave, Diamond Bar, CA 91765
	</div>
</div>