<img src="https://www.liferay.com/osb-portlet/images/top_image.png"
	height="78"
	width="78"
/>

<br />

<img src="https://www.liferay.com/osb-portlet/images/header_logo.png"
	alt="Liferay"
	height="47"
	style="margin-left: 50px;"
	width="147"
/>

<br /><br />

<div style="margin-left: 50px; margin-right: 50px;">
	Hi [$TO_NAME$],<br /><br />

	Your Liferay Subscription Project [$ACCOUNT_ENTRY_NAME$] has just been set up, however we were not able to locate your Liferay.com user account. In order to gain access to [$SUBSCRIPTION_SERVICES$], please create a user account with your company email address.<br /><br />

	<a href="https://web.liferay.com/sign-in?p_p_id=58&p_p_lifecycle=0&p_p_state=maximized&p_p_mode=view&saveLastPath=0&_58_struts_action=%2Flogin%2Fcreate_account">Create a Liferay Account</a><br /><br />

	Once you have created and verified your account, please reply to this email and our regional provisioning team will gladly grant you access to the aforementioned Liferay subscription resources.<br /><br />

	Sincerely,<br />
	Liferay Support
</div>

<br /><br />

<img src="https://www.liferay.com/osb-portlet/images/footer_image.png"
	height="18"
	width="100%"
/>

<br /><br />

<a href="https://www.liferay.com" style="margin-left: 50px;">www.liferay.com</a>

<img src="https://www.liferay.com/osb-portlet/images/footer_logo.png"
	align="right"
	height="23"
	style="margin-right: 50px;"
	width="72"
/>