<div style="background-color: #FFF; color: #272833; font-family:Source Sans Pro,system-ui,Segoe UI,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif; font-size: 16px;">
	<div style="background-color: #FFF; padding-top: 10px; text-align: center;">
		<table align="center" cellpadding="0" cellspacing="0" style="max-width: 600px;">
		<tbody>
			<tr>
				<td style="text-align: left;">
					<div style="display: inline-block; padding: 10px 0 0 25px; text-align: left; vertical-align: top;">
						<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<div style="height: 19px"> &nbsp; </div>
								</td>
							</tr>
							<tr>
								<td>
									<img src="https://analytics.liferay.com/o/osb-faro-web/images/email/ac-chart.png" width="40px" />
								</td>
							</tr>
						</tbody>
						</table>
					</div>

					<div style="display: inline-block; max-width: 500px; padding: 10px 0 0 25px; text-align: left; vertical-align: top;">
						<table cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<img src="https://analytics.liferay.com/o/osb-faro-web/images/email/ac-title.png" width="150px" />
								</td>
							</tr>
							<tr>
								<td>
									<div style="height: 25px;"> &nbsp; </div>
								</td>
							</tr>
							<tr>
								<td>
									<h3>
										欢迎使用 Analytics Cloud！
									</h3>

									<p>
										您很快就可以使用由数据驱动的分析来更好地为客户服务了。
									</p>

									<p>
										使用您现有的 Liferay 用户名和密码登录。
									</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 10px 0 25px 0;">
									<div style="background-color: #0053F0; border: none; border-radius: 5px; display: inline-block; padding: 5px 15px;">
										<a href="https://analytics.liferay.com" style="background: #0053F0; color: white; font-weight: 600; line-height: 30px; text-decoration: none; text-transform: none;" rel="noopener noreferrer" target="_blank">登录</a>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<hr style="border: 0; border-bottom: 1px solid rgba(255,255,255,0.3); border-top: 1px solid rgba(0,0,0,0.2); height: 0;" />
								</td>
							</tr>
							<tr>
								<td>
									<h3>
										使用入门
									</h3>

									<p>
										只需三个步骤即可设置并运行：
									</p>

									<ol style="padding-left: 1em;">
										<li style="padding-bottom: 16px;">
											连接您的 Liferay DXP 页面和资产
										</li>
										<li style="padding-bottom: 16px;">
											连接并映射用户数据
										</li>
										<li style="padding-bottom: 16px;">
											邀请队友合作
										</li>
									</ol>
								</td>
							</tr>
							<tr>
								<td style="padding: 10px 0;">
									<div style="color: #6B6C7E; font-size: 12px;">
										需要更多帮助？请访问我们的<a href="https://help.liferay.com" rel="noopener noreferrer" target="_blank">帮助中心</a>，获取深入的使用说明和用户指南。
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div style="height: 25px;"> &nbsp; </div>
								</td>
							</tr>
						</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>

	<div style="font-size: 12px; text-align: center;">
		2018 Liferay Inc. 1400 Montefino Ave, Diamond Bar, CA 91765
	</div>
</div>